<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 55.4 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=dff2799e61a3e01f2e36f6a4b74f09e26d29b97ce5a2feb5d98e0083c1bc2d13
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1
##### Display the names of the unique launch sites  in the space mission

In [21]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')  # Replace 'your_database_name.db' with your actual database name

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;')

# Fetch all the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row[0])  # Assuming "Launch Site" is the first column in the result set
    
# Close the cursor and the connection
cursor.close()
conn.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40

In [12]:
df.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing_Outcome      object
dtype: object


### Task 2
#####  Display 5 records where launch sites begin with the string 'CCA'

In [51]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')  # Replace 'your_database_name.db' with your actual database name

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT * FROM SPACEXTBL WHERE "Launch_Site" LIKE "CCA%" LIMIT 5;')

# Fetch the column names
column_names = [description[0] for description in cursor.description]

# Fetch all the results
results = cursor.fetchall()

# Display the column names
print(column_names)

# Display the results with column headers
for row in results:
    print(row)

# Close the cursor and the connection
cursor.close()
conn.close()

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3
##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [36]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')  # Replace 'your_database_name.db' with your actual database name

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT SUM("PAYLOAD_MASS__KG_") AS "Total Payload Mass" FROM SPACEXTBL WHERE "Customer" LIKE "NASA%";')

# Fetch all the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)  # Print each row

# Close the cursor and the connection
cursor.close()
conn.close()

(99980,)

### Task 4
##### Display average payload mass carried by booster version F9 v1.1

In [52]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT AVG("PAYLOAD_MASS__KG_") AS "Average Payload Mass" FROM SPACEXTBL WHERE "Booster_Version" LIKE "F9 v1.1%";')

# Fetch all the results (should return only one row)
results = cursor.fetchall()

# Display the result
for row in results:
    print("Average Payload Mass carried by booster version F9 v1.1:", row[0])

# Close the cursor and the connection
cursor.close()
conn.close()

Average Payload Mass carried by booster version F9 v1.1: 2534.6666666666665

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [60]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('''
    SELECT MIN(Date) AS "First Successful Landing Date"
    FROM SPACEXTBL
    WHERE Landing_Outcome LIKE 'Success (ground pad)%';
''')

# Fetch the result
result = cursor.fetchone()

# Display the result
print("First Successful Landing Date:", result[0])

# Close the cursor and the connection
cursor.close()
conn.close()

First Successful Landing Date: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [58]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('''
    SELECT DISTINCT Booster_Version
    FROM SPACEXTBL
    WHERE Landing_Outcome LIKE 'Success (drone ship)%'
    AND Payload_Mass__KG_ > 4000 AND Payload_Mass__KG_ < 6000;
''')

# Fetch the results
results = cursor.fetchall()

# Display the names of Booster_Versions
for row in results:
    print(row[0])

# Close the cursor and the connection
cursor.close()
conn.close()

F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7
##### List the total number of successful and failure mission outcomes

In [59]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('''
    SELECT Landing_Outcome, COUNT(*) AS Total_Outcomes
    FROM SPACEXTBL
    GROUP BY Landing_Outcome;
''')

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print("Landing Outcome:", row[0], "- Total Outcomes:", row[1])

# Close the cursor and the connection
cursor.close()
conn.close()

Landing Outcome: Controlled (ocean) - Total Outcomes: 5
Landing Outcome: Failure - Total Outcomes: 3
Landing Outcome: Failure (drone ship) - Total Outcomes: 5
Landing Outcome: Failure (parachute) - Total Outcomes: 2
Landing Outcome: No attempt - Total Outcomes: 21
Landing Outcome: No attempt  - Total Outcomes: 1
Landing Outcome: Precluded (drone ship) - Total Outcomes: 1
Landing Outcome: Success - Total Outcomes: 38
Landing Outcome: Success (drone ship) - Total Outcomes: 14
Landing Outcome: Success (ground pad) - Total Outcomes: 9
Landing Outcome: Uncontrolled (ocean) - Total Outcomes: 2

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [63]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query to find the maximum payload mass
cursor.execute('''
    SELECT MAX("Payload_Mass__KG_") AS max_payload_mass
    FROM SPACEXTBL;
''')

# Fetch the maximum payload mass
max_payload_mass = cursor.fetchone()[0]

# Execute the SQL query using a subquery to find the booster_versions with the maximum payload mass
cursor.execute('''
    SELECT DISTINCT Booster_Version
    FROM SPACEXTBL
    WHERE "Payload_Mass__KG_" = ?;
''', (max_payload_mass,))

# Fetch the results
results = cursor.fetchall()

# Display the results
print("Booster Versions with Maximum Payload Mass:")
for row in results:
    print(row[0])

# Close the cursor and the connection
cursor.close()
conn.close()

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [62]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('''
    SELECT SUBSTR(Date, 6, 2) AS Month,
           Landing_Outcome,
           Booster_Version,
           Launch_Site
    FROM SPACEXTBL
    WHERE SUBSTR(Date, 1, 4) = '2015'
    AND Landing_Outcome LIKE '%failure (drone ship)%';
''')

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print("Month:", row[0], "- Landing Outcome:", row[1], "- Booster Version:", row[2], "- Launch Site:", row[3])

# Close the cursor and the connection
cursor.close()
conn.close()

Month: 01 - Landing Outcome: Failure (drone ship) - Booster Version: F9 v1.1 B1012 - Launch Site: CCAFS LC-40
Month: 04 - Landing Outcome: Failure (drone ship) - Booster Version: F9 v1.1 B1015 - Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [64]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query to rank the count of landing outcomes
cursor.execute('''
    SELECT Landing_Outcome, COUNT(*) AS outcome_count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY outcome_count DESC;
''')

# Fetch the results
results = cursor.fetchall()

# Display the results
print("Ranking of Landing Outcomes:")
for rank, row in enumerate(results, start=1):
    print(f"Rank {rank}: {row[0]} - Count: {row[1]}")

# Close the cursor and the connection
cursor.close()
conn.close()

Ranking of Landing Outcomes:
Rank 1: No attempt - Count: 10
Rank 2: Success (drone ship) - Count: 5
Rank 3: Failure (drone ship) - Count: 5
Rank 4: Success (ground pad) - Count: 3
Rank 5: Controlled (ocean) - Count: 3
Rank 6: Uncontrolled (ocean) - Count: 2
Rank 7: Failure (parachute) - Count: 2
Rank 8: Precluded (drone ship) - Count: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>